[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lint = "make lint"

[packages]
discord = "*"

[dev-packages]
black = "*"
flake8 = "*"
pylint = "*"
sphinx = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
